
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');


:root {
    --colorgreen: rgb(6,192,72);
    --colorblack: rgb(8,8,8);
    --colorbox: rgba(8,8,8, 0.5);
    --colortext: rgb(175,177,176);
    --colorbg: rgb(251,251,251);
    --colorbgcard: rgb(255,255,255);
}

* {
    margin: 0px;
    padding: 0px;
    color: var(--colorblack);
    font-family: 'Lora', 'Poppins', sans-serif;
}

body {
    background: var(--colorbg);
}

p, span {
    color: var(--colortext);
}

p {
    line-height: 25px;
    font-size: 14px;
    margin-top: 8px;
}

h2> span {
    color: var(--colorgreen); 
}

h2 {
    font-size: 30px;
    line-height: 30px;
}

a {
    font-size: 13px;
    text-decoration: none;
    font-weight: bold; 
    display: flex;
    align-items: center;
    margin-top: 20px;
}

a> svg {
    margin-left: 5px;
}


section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.title {
    text-align: center;
    margin-bottom: 50px; 
}

.question {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1px;  
}

.card {
    width: 40%;
    background-color: var(--colorbgcard);
    box-shadow: 5px 5px 10px var(--colorbox);
    border-radius: 8px;
    margin: 15px;
    padding: 30px;
    animation: card-animate 1s ease 0s 1 normal forwards;
}

@keyframes card-animate {
    0% {
      transform: scaleX(0);
      transform-origin: 100% 100%;
    }
  
    100% {
      transform: scaleX(1);
      transform-origin: 100% 100%;
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 

.icon {
    border: none; 
    margin-right: 10px;
}

svg.icon {
    width: 10px;
    height: 10px;
}

.icon-container> svg {
    width: 40px;
    height: 40px;
    padding-right: 20px;
}

.icon-container> svg > svg> path { 
    fill: var(--colorgreen);
}

.card-container {
    max-width: 960px;
}

.card-content {
    display: flex;   
}


@media screen and (min-width: 100px) and (max-width: 450px) {
    section {
        width: 100%;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .card {
        width: 100%;
    }
}

@media screen and (min-width: 451px) and (max-width: 769px) {
    section { 
        padding-top: 50px; 
    } 
}