
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --colorgreen: rgb(6,192,72);
    --colorblack: rgb(8,8,8);
    --colorbox: rgba(8,8,8, 0.5);
    --colortext: rgb(175,177,176);
    --colorbg: rgb(251,251,251);
    --colorbgcard: rgb(255,255,255);
}

* {
    margin: 0px;
    padding: 0px;
    color: var(--colorblack);
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--colorbg);
}

p, span {
    color: var(--colortext);
}

p {
    line-height: 25px;
    font-size: 14px;
}

h2> span {
    color: var(--colorgreen); 
}

h2 {
    font-size: 30px;
    line-height: 15px;
}

a {
    text-decoration: none;
    font-weight: bold; 
    display: flex;
    align-items: center;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.title {
    text-align: center;
    margin-bottom: 50px;
}

.question {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1px;
}

.card {
    width: 40%;
    background-color: var(--colorbgcard);
    box-shadow: 5px 5px 10px var(--colorbox);
    border-radius: 8px;
    margin: 15px;
    padding: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 

iframe {
    border: none;
    width: 15px;
    height: 15px;
}

iframe.icon {
    width: 50px;
    height: 50px;
}

svg> path {
    stroke: var(--colorgreen);
}

.card-container {
    max-width: 960px;
}


@media screen and (min-width: 100px) and (max-width: 450px) {
    section {
        width: 100%;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .card {
        width: 100%;
    }
}